<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form  id="form-container" >
        <p ></p>
        <h1>Registration Form</h1>
        <input type="text" name="userName"   id="userName" placeholder=" Username" required>
        <input type="text"  name="role" id="role" placeholder=" Your roll" required>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="password" required >
       <button class="form-btn" type="submit">SUBMIT</button>

    </form>
    <script src="../static/script.js"></script>
</body>
</html>